<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Milano{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">        
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
         
        {{ "application.css" | asset_url | stylesheet_tag }}
        
        <!--script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyolKvrxY9rTcHfwr_AbZv-f6q8ongNAM
">
    </script--> 

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body class="">
            <!-- Include -->
            {% include "header" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
      
        <!-- Script block allowing child pages to inject their own scripts -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>  
        {{ "menu.js" | asset_url | script_tag }}
        
        {{ "app.js" | asset_url | script_tag }}
        {{ "jquery.mobile-1.4.5.js" | asset_url | script_tag }}


    </body>
</html>