@import "mixin" 

.header
	display: block
	position: relative
	+clearfix

.firstNav
	position: relative
	float: left
	width: 70%
	transition: 0.3s linear
	overflow: visible
	background: #009999
	padding: 10px 20px
	transform: translate3d(0px, 0px, 0)
	transform-style: preserve-3d
	-webkit-perspective: 1000

	-webkit-backface-visibility: hidden
	position: fixed

	.dx &
		right: 0
		text-align: right
		
	a
		color: #fff
		text-decoration: none

	+gs-media(m, min)
		width: 45%

	+gs-media(l, min)
		width: 100%
		z-index: 100
		position: relative
		.dx &
			text-align: left

	&.out
		transform: translate3d(-100%, 0px, 0)
		+gs-media(l, min)
			transform: translate3d(0px, 0px, 0)

		.dx &
			transform: translate3d(100%, 0px, 0)


.firstNav__item
	display: inline-block
	position: relative
	cursor: pointer
	padding: 10px 20px
	background: #009999
	width: 100%

	+gs-media(l, min)
		width: 24%

	a
		color: #fff
		text-decoration: none

	&:hover
		background: #00CC99
	

.subMenu
	width: 100%
	position: fixed
	left: 100%
	top: 0
	background: #009999
	padding: 10px 20px

	.dx &
		left: -100%

	+gs-media(l, min)
		left: 0
		display: none
		position: absolute
		z-index: 200
		top: 35px


.subMenu__item
	padding: 10px 0
	&:first-child
		display: block
		cursor: pointer
		+gs-media(l, min)
			display: none


.toggle
	content: ""
	height: 30px
	width: 30px
	left: 0
	position: fixed
	display: block
	z-index: 1000
	transition: all 0.4s ease-in-out 

	+gs-media(l, min)
		display: none


	&:after, &:before
		content: ""
		display: block
		height: 3px
		width: 30px
		background: #000
		margin: 10px
		transition: 0.3s linear
		position: absolute

	.dx &
		right: 30px

	&:after
		bottom: 0

	&:before
		top: 0

	&.active
		left: 70%

		.dx &
			transform: translate3d(-70%, 0, 0)
		&:after
			transform: rotate(45deg)
		&:before
			transform: rotate(-45deg)
			top: 7px



.container
	background: #fff
	box-shadow: 0 0 10px #888888
	transform-style: preserve-3d
	transition: 0.4s ease-in-out
	position: relative
	background-color: lightblue
	text-align: center
		
	section
		width: 100%
		height: 400px
	&.open
		transform: translate3d(70%, 0, 0)
		-webkit-transform: translate3d(70%, 0, 0)
		-webkit-perspective: 1000
		-webkit-backface-visibility: hidden
		+gs-media(m, min)
			-webkit-transform: translate3d(45%, 0, 0)

		.dx &
			transform: translate3d(-70%, 0, 0)
			-webkit-transform: translate3d(-70%, 0, 0)







