<header class="header">
	<div class="toggle js-toggle" >
	</div>
	<nav class="firstNav" id="js-nav">
		<ul>
			<!--js-navItem classe da aggiungere agli elemnti con submenu-->
			<li class="firstNav__item js-navItem" >
				Home
				
					<ul class="subMenu js-subMenu">
						<li class="subMenu__item js-back" >
							
								BACK
							
						</li>
						<li class="subMenu__item"  >
							<a href="">
								home - sub 1
							</a>
						</li>
						<li class="subMenu__item"  >
							<a href="">
								home - sub 2
							</a>
						</li>
						<li class="subMenu__item"  >
							<a href="">
								home - sub 3
							</a>
						</li>

					</ul>
				
			</li>
			<li class="firstNav__item js-navItem" >
				
					Link1
				
					<ul class="subMenu js-subMenu">
						<li class="subMenu__item js-back" >
							
								BACK
							
						</li>
						<li class="subMenu__item"  >
							<a href="">
								link1 - sub 1
							</a>
						</li>
						<li class="subMenu__item"  >
							<a href="">
								link1  - sub 2
							</a>
						</li>
						<li class="subMenu__item"  >
							<a href="">
								link1 - sub 3
							</a>
						</li>

					</ul>
			</li>
			<li class="firstNav__item">
				<a href="#">
					Link2
				</a>
			</li>
			<li class="firstNav__item">
				<a href="#">
					Link3
				</a>
			</li>
		</ul>

	</nav>	
</header>

