/* [sass, assets/sass, application.sass] */
/* line 1, /Users/serenabeddini/Desktop/menu/assets/sass/core/_layout.sass */
body {
  margin: 0; }

/* line 1, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
body {
  line-height: 1; }

/* line 29, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
ol, ul {
  list-style: none; }

/* line 32, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 35, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 40, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.header {
  display: block;
  position: relative; }
  /* line 2, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_mixin.sass */
  .header:after {
    content: "";
    display: table;
    clear: both; }

/* line 8, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.firstNav {
  position: relative;
  float: left;
  width: 70%;
  transition: 0.3s linear;
  overflow: visible;
  background: #009999;
  padding: 10px 20px;
  transform: translate3d(0px, 0px, 0);
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  position: fixed; }
  /* line 23, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .dx .firstNav {
    right: 0;
    text-align: right; }
  /* line 27, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .firstNav a {
    color: #fff;
    text-decoration: none; }
  @media only screen and (min-width: 700px) {
    /* line 8, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .firstNav {
      width: 45%; } }
  @media only screen and (min-width: 1024px) {
    /* line 8, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .firstNav {
      width: 100%;
      z-index: 100;
      position: relative; }
      /* line 38, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
      .dx .firstNav {
        text-align: left; } }
  /* line 41, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .firstNav.out {
    transform: translate3d(-100%, 0px, 0); }
    @media only screen and (min-width: 1024px) {
      /* line 41, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
      .firstNav.out {
        transform: translate3d(0px, 0px, 0); } }
    /* line 46, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .dx .firstNav.out {
      transform: translate3d(100%, 0px, 0); }

/* line 50, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.firstNav__item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  background: #009999;
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    /* line 50, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .firstNav__item {
      width: 24%; } }
  /* line 61, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .firstNav__item a {
    color: #fff;
    text-decoration: none; }
  /* line 65, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .firstNav__item:hover {
    background: #00CC99; }

/* line 69, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.subMenu {
  width: 100%;
  position: fixed;
  left: 100%;
  top: 0;
  background: #009999;
  padding: 10px 20px; }
  /* line 77, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .dx .subMenu {
    left: -100%; }
  @media only screen and (min-width: 1024px) {
    /* line 69, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .subMenu {
      left: 0;
      display: none;
      position: absolute;
      z-index: 200;
      top: 35px; } }

/* line 88, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.subMenu__item {
  padding: 10px 0; }
  /* line 90, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .subMenu__item:first-child {
    display: block;
    cursor: pointer; }
    @media only screen and (min-width: 1024px) {
      /* line 90, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
      .subMenu__item:first-child {
        display: none; } }

/* line 97, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.toggle {
  content: "";
  height: 30px;
  width: 30px;
  left: 0;
  position: fixed;
  display: block;
  z-index: 1000;
  transition: all 0.4s ease-in-out; }
  @media only screen and (min-width: 1024px) {
    /* line 97, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .toggle {
      display: none; } }
  /* line 111, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .toggle:after, .toggle:before {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background: #000;
    margin: 10px;
    transition: 0.3s linear;
    position: absolute; }
  /* line 121, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .dx .toggle {
    right: 30px; }
  /* line 124, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .toggle:after {
    bottom: 0; }
  /* line 127, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .toggle:before {
    top: 0; }
  /* line 130, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .toggle.active {
    left: 70%; }
    /* line 133, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .dx .toggle.active {
      transform: translate3d(-70%, 0, 0); }
    /* line 135, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .toggle.active:after {
      transform: rotate(45deg); }
    /* line 137, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .toggle.active:before {
      transform: rotate(-45deg);
      top: 7px; }

/* line 143, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
.container {
  background: #fff;
  box-shadow: 0 0 10px #888888;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  position: relative;
  background-color: lightblue;
  text-align: center; }
  /* line 152, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .container section {
    width: 100%;
    height: 400px; }
  /* line 155, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
  .container.open {
    transform: translate3d(70%, 0, 0);
    -webkit-transform: translate3d(70%, 0, 0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; }
    @media only screen and (min-width: 700px) {
      /* line 155, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
      .container.open {
        -webkit-transform: translate3d(45%, 0, 0); } }
    /* line 163, /Users/serenabeddini/Desktop/menu/assets/sass/modules/_header.sass */
    .dx .container.open {
      transform: translate3d(-70%, 0, 0);
      -webkit-transform: translate3d(-70%, 0, 0); }

/* line 11, /Users/serenabeddini/Desktop/menu/assets/sass/application.sass */
html * {
  box-sizing: border-box; }
